<a href="https://colab.research.google.com/github/Uthmanic/HAMOYE-DataScience-Internship/blob/master/Hamoye_Stage_D(Planet_Understanding_the_Amazon_from_SpaceAmazon).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#install kaggle
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
!mkdir .kaggle

In [3]:
import json
token = {"username":"tijaniuthman","key":"42a091ba934aa0b6d9ef884eb7f52567"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [14]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [15]:
!kaggle config set -n path -v{/content}

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content}

In [16]:
!chmod 600 /root/.kaggle/kaggle.json

In [17]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                    title                                              size  lastUpdated          downloadCount
-----------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
anmolkumar/health-insurance-cross-sell-prediction      Health Insurance Cross Sell Prediction üè† üè•          6MB  2020-09-11 18:39:31           1213
shivan118/healthcare-analytics                         Healthcare Analytics                                2MB  2020-09-13 17:40:05            658
Cornell-University/arxiv                               arXiv Dataset                                     885MB  2020-09-14 16:54:47           2872
nipunarora8/age-gender-and-ethnicity-face-data-csv     AGE, GENDER AND ETHNICITY (FACE DATA) CSV          63MB  2020-09-02 13:46:38            384
datatattle/covid-19-nlp-text-classification            Coronavirus tweets NLP - Text Classification        4MB  2020-09-08 11:40:11            392
ramjidoolla/ipl-data-set                               IPL _Data_Set                                       1MB  2020-09-14 10:57:42            678
yoannboyere/co2-ghg-emissionsdata                      CO2_GHG_emissions-data                            147KB  2020-09-14 09:59:25            364
anikannal/solar-power-generation-data                  Solar Power Generation Data                         2MB  2020-08-18 15:52:03           3863
tunguz/us-elections-dataset                            US Elections Dataset                                8MB  2020-09-17 17:02:40           2252
imoore/60k-stack-overflow-questions-with-quality-rate  60k Stack Overflow Questions with Quality Rating   21MB  2020-09-19 20:53:26           1120
nehaprabhavalkar/av-healthcare-analytics-ii            AV : Healthcare Analytics II                        7MB  2020-08-29 03:40:10           1851
jmmvutu/summer-products-and-sales-in-ecommerce-wish    Sales of summer clothes in E-commerce Wish        376KB  2020-08-23 15:16:46           6035
ihelon/lego-minifigures-classification                 LEGO Minifigures                                   17MB  2020-09-15 20:07:06           1077
ruchi798/bookcrossing-dataset                          Book-Crossing: User review ratings                 25MB  2020-08-11 10:40:25           1063
google/tinyquickdraw                                   QuickDraw Sketches                                 11GB  2018-04-18 19:38:04           2305
agirlcoding/all-space-missions-from-1957               All Space Missions from 1957                      101KB  2020-08-13 16:18:58           3214
datasnaek/youtube-new                                  Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         105117
zynicide/wine-reviews                                  Wine Reviews                                       51MB  2017-11-27 17:08:04         112684
residentmario/ramen-ratings                            Ramen Ratings                                      40KB  2018-01-11 16:04:39          13542
datasnaek/chess                                        Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09           8917

In [18]:
#search for the dataset 
!kaggle datasets list -s planets-dataset

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                               title                                     size  lastUpdated          downloadCount
------------------------------------------------  ---------------------------------------  -----  -------------------  -------------
nikitarom/planets-dataset                         planets_dataset                            1GB  2020-02-09 22:01:31           1939
mrisdal/open-exoplanet-catalogue                  Open Exoplanet Catalogue                 123KB  2017-06-08 19:59:22           2805
eduardowoj/exoplanets-database                    Exoplanets Database                      281KB  2018-02-28 20:56:05            852
muhakabartay/markmarkohkeplerconfirmedplanets     Kepler Confirmed Planets                 521KB  2019-12-26 20:08:20             17
nasa/kepler-exoplanet-search-results              Kepler Exoplanet Search Results            1MB  2017-10-10 18:26:59           4007
jsphyg/star-wars                                  Star Wars                                 10KB  2019-07-08 12:53:05           1431
aradzhabov/earthquakes-solar-system-objects       Earthquakes <-?-> Solar System objects?    2MB  2017-04-22 21:42:59            839
keplersmachines/kepler-labelled-time-series-data  Exoplanet Hunting in Deep Space           56MB  2017-04-12 16:34:18           6882
scoleman/spacex-launch-data                       SpaceX Launch Data                         2KB  2018-06-14 03:01:05           1407
nasa/trappist1                                    Trappist-1 Solar System                    1KB  2017-02-23 18:11:03            416
fatihhazir/planets                                Planets                                   10KB  2020-07-20 14:06:52              4
markmarkoh/near-earth-asteroids                   Near Earth Asteroids                      18KB  2016-10-05 17:01:46            160
moiraghif/exoplanets                              exoplanets                                 4MB  2018-12-06 14:49:07             33
ukveteran/exoplanets-data                         Exoplanets Data                            1KB  2019-12-30 20:38:42              2
uzairwali/exoplanetsflux                          ExoPlanetsFlux                            56MB  2019-04-03 11:40:11             17
canthonyaustin/cneos-neo-earth-close-approaches   CNEOS NEO Earth Close Approaches           5KB  2020-07-22 22:22:59              3
kazeev/idao2019muonid                             IDAO-2019-MuonID                            0B  2019-01-28 14:46:32             70
jaredsavage/solar-system-major-bodies-data        Solar System major bodies data            22KB  2020-05-23 15:41:48             42

In [19]:
#download dataset
!kaggle datasets download -d nikitarom/planets-dataset -p /content

Downloading planets-dataset.zip to /content
 99% 1.49G/1.50G [00:41<00:00, 45.2MB/s]
100% 1.50G/1.50G [00:41<00:00, 38.3MB/s]

In [30]:
#unzip the dataset
!unzip \*.zip&> /dev/null

^C

In [1]:
#Import necessary libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import gc
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.preprocessing.image import load_img, img_to_array
from sklearn.metrics import fbeta_score
from tqdm import tqdm
import cv2
from PIL import Image
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D, BatchNormalization
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras import optimizers

from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import fbeta_score
import time
%matplotlib inline

pal = sns.color_palette()

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
#check present working directory
! pwd

/content

In [3]:
#read the train classes csv file and save a copy
df_train_classes= pd.read_csv('/content/planet/planet/train_classes.csv')
df_train = df_train_classes.copy()
df_train.head()

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [4]:
#read the sample submission classes csv file and save a copy
df_test_classes = pd.read_csv('/content/planet/planet/sample_submission.csv')
df_test = df_test_classes.copy()
df_test.head()

  image_name                                  tags
0     test_0  primary clear agriculture road water
1     test_1  primary clear agriculture road water
2     test_2  primary clear agriculture road water
3     test_3  primary clear agriculture road water
4     test_4  primary clear agriculture road water

In [5]:
#total train data points
!ls /content/planet/planet/train-jpg | wc -l

40479

In [6]:
test1 = !ls /content/planet/planet/test-jpg | wc -l
test2 = !ls /content/test-jpg-additional/test-jpg-additional | wc -l
assert df_test.shape[0] == float(test1[0])+float(test2[0])

In [7]:
#list of unique labels/tags 
labels = df_train['tags'].apply(lambda x: x.split(' '))
from collections import Counter, defaultdict
counts = defaultdict(int)
for l in labels:
    for l2 in l:
        counts[l2] += 1
               
tag_list=list(counts.keys())
tag_list

['haze',
 'primary',
 'agriculture',
 'clear',
 'water',
 'habitation',
 'road',
 'cultivation',
 'slash_burn',
 'cloudy',
 'partly_cloudy',
 'conventional_mine',
 'bare_ground',
 'artisinal_mine',
 'blooming',
 'selective_logging',
 'blow_down']

In [8]:
#total unique labels
len(tag_list)

17

In [9]:
#assign numerical value to each label using dictionary
label_map = {i:j for j, i in enumerate(tag_list)}
label_map

{'agriculture': 2,
 'artisinal_mine': 13,
 'bare_ground': 12,
 'blooming': 14,
 'blow_down': 16,
 'clear': 3,
 'cloudy': 9,
 'conventional_mine': 11,
 'cultivation': 7,
 'habitation': 5,
 'haze': 0,
 'partly_cloudy': 10,
 'primary': 1,
 'road': 6,
 'selective_logging': 15,
 'slash_burn': 8,
 'water': 4}

In [10]:
# One hot encode the training labels. Convert the images into pixels and resize them
X_train, Y_train = [], []
for img, label in tqdm(df_train.values, miniters = 1000):
  target = np.zeros(17)
  for tag in label.split(' '):
    target[label_map[tag]]=1
  X_train.append(cv2.resize(cv2.imread('/content/planet/planet/train-jpg/{}.jpg'.format(img)), (64,64)))
  Y_train.append(target)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 40479/40479 [00:54<00:00, 739.76it/s]

In [11]:
#convert the test images to pixels and resize them as well
X_test=[]
for img, label in tqdm(df_test[:40669].values, miniters = 1000):
  X_test.append(cv2.resize(cv2.imread('/content/planet/planet/test-jpg/{}.jpg'.format(img)), (64,64)))
for img, label in tqdm(df_test[40669:].values, miniters = 1000):
  X_test.append(cv2.resize(cv2.imread('/content/test-jpg-additional/test-jpg-additional/{}.jpg'.format(img)), (64,64)))
x_test = np.array(X_test, np.float16)/255

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 40669/40669 [00:54<00:00, 747.05it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 20522/20522 [00:26<00:00, 786.91it/s]

In [12]:
#Confirm the dimensions
len(X_test), len(X_train), len(Y_train)

(61191, 40479, 40479)

In [13]:
import sys
sys.getsizeof(X_train)

361288

In [14]:
#import and initialise Garbage Collector
import gc
gc.collect()

11

In [15]:
#Change lists to numpy arrays and normalize
x_train = np.array(X_train, np.float16)/255
y_train = np.array(Y_train, np.uint8)

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size = 0.2, shuffle = True, random_state = 1)

print(x_train.shape, y_train.shape, x_val.shape, y_val.shape)

(32383, 64, 64, 3) (32383, 17) (8096, 64, 64, 3) (8096, 17)

In [16]:
#delete X_test, X_train, Y_train to free up space
del(X_test, X_train, Y_train)

In [17]:
#Split the data into 5 folds and train on 4 folds while validating on 1 fold

yfull_test = []
yfull_train = []
X_train_, X_val_, Y_train_, Y_val_ = train_test_split(x_train, y_train, test_size = 0.2, random_state = 1)

In [18]:
#import and initialise Garbage Collector
import gc
gc.collect()

0

In [19]:
#Build a CNN model
from keras.applications.vgg19 import VGG19
from keras.optimizers import Adam

input_size = 64
input_channels = 3
batch_size = 64

# Add model parameters including dropout, layers and activation function
base_model = VGG19(include_top=False,
                   weights='imagenet',
                   input_shape=(input_size, input_size, input_channels))

model = Sequential()
model.add(BatchNormalization(input_shape=(input_size, input_size, input_channels)))

model.add(base_model)
model.add(Flatten())
model.add(Dropout(0.5))

model.add(Dense(17, activation='sigmoid'))

In [20]:
#import and initialise Garbage Collector
import gc
gc.collect()

0

In [21]:
# define model training optimizer parameters
opt = Adam(lr=1e-4)
model.compile(loss='binary_crossentropy',optimizer=opt, metrics=['accuracy'])
callbacks = [EarlyStopping(monitor='val_loss', patience=2, verbose=0),
                ModelCheckpoint(filepath='weights/best_weights',
                                 save_best_only=True,
                                 save_weights_only=True)]
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization (BatchNo (None, 64, 64, 3)         12
_________________________________________________________________
vgg19 (Functional)           (None, 2, 2, 512)         20024384
_________________________________________________________________
flatten (Flatten)            (None, 2048)              0
_________________________________________________________________
dropout (Dropout)            (None, 2048)              0
_________________________________________________________________
dense (Dense)                (None, 17)                34833
=================================================================
Total params: 20,059,229
Trainable params: 20,059,223
Non-trainable params: 6
_________________________________________________________________

In [22]:
gc.collect()

0

In [23]:
#Try a combination of epoch lengths and learning rates

model.fit(x = X_train_, y= Y_train_, validation_data=(X_val_, Y_val_),batch_size=64,verbose=2, epochs=10,callbacks=callbacks,shuffle=True)

p_val = model.predict(X_val_, batch_size = 64, verbose=2)
print(fbeta_score(Y_val_, np.array(p_val) > 0.2, beta=2, average='samples')) #Check the model performance on the validation set

p_train = model.predict(x_train, batch_size =64, verbose=2) #save the training predictions
yfull_train.append(p_train)
        
p_test = model.predict(x_test, batch_size = 64, verbose=2) #save the test predictions
yfull_test.append(p_test)

Epoch 1/15
WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0204s vs `on_train_batch_end` time: 0.0327s). Check your callbacks.
405/405 - 25s - loss: 0.1580 - accuracy: 0.6921 - val_loss: 0.1232 - val_accuracy: 0.7906
Epoch 2/15
405/405 - 23s - loss: 0.1163 - accuracy: 0.7145 - val_loss: 0.1087 - val_accuracy: 0.8502
Epoch 3/15
405/405 - 23s - loss: 0.1075 - accuracy: 0.7342 - val_loss: 0.1054 - val_accuracy: 0.7815
Epoch 4/15
405/405 - 23s - loss: 0.1008 - accuracy: 0.7394 - val_loss: 0.1028 - val_accuracy: 0.7273
Epoch 5/15
405/405 - 23s - loss: 0.0954 - accuracy: 0.7207 - val_loss: 0.1024 - val_accuracy: 0.8376
Epoch 6/15
405/405 - 23s - loss: 0.0902 - accuracy: 0.7314 - val_loss: 0.1139 - val_accuracy: 0.8067
Epoch 7/15
405/405 - 23s - loss: 0.0828 - accuracy: 0.7064 - val_loss: 0.1034 - val_accuracy: 0.6960
WARNING:tensorflow:Callbacks method `on_predict_batch_end` is slow compared to the batch time (batch time: 0.0022s vs `on_predict_batch_end` time: 0.0082s). Check your callbacks.
203/203 - 2s
0.9119118308929165
WARNING:tensorflow:Callbacks method `on_predict_batch_end` is slow compared to the batch time (batch time: 0.0026s vs `on_predict_batch_end` time: 0.0139s). Check your callbacks.
506/506 - 8s
WARNING:tensorflow:Callbacks method `on_predict_batch_end` is slow compared to the batch time (batch time: 0.0028s vs `on_predict_batch_end` time: 0.0130s). Check your callbacks.
957/957 - 15s

In [24]:
#import and initialise Garbage Collector
import gc
gc.collect()

2967

In [25]:
#make predictions
predictions = model.predict(x_test, batch_size = 32)
predictions

array([[2.03687279e-03, 9.99922156e-01, 2.83319782e-03, ...,
        6.13635313e-03, 5.29130339e-04, 3.14486533e-04],
       [7.15181290e-04, 9.99950171e-01, 5.41629829e-03, ...,
        9.14758220e-02, 7.18053477e-03, 2.10611592e-03],
       [1.79610646e-03, 9.94473040e-01, 2.55280230e-02, ...,
        5.46605908e-04, 1.81650030e-04, 3.53933719e-04],
       ...,
       [3.55643366e-04, 9.99871254e-01, 9.68208257e-03, ...,
        2.01380439e-03, 5.03386196e-04, 1.78211980e-04],
       [7.99031928e-03, 1.44288745e-02, 1.02722552e-03, ...,
        1.29998341e-04, 1.68812003e-05, 3.27370581e-05],
       [7.49441516e-03, 7.66544223e-01, 2.58286536e-01, ...,
        1.97319823e-05, 1.09845336e-04, 3.56147539e-05]], dtype=float32)

In [26]:
#predictions dataframe
pred = pd.DataFrame(predictions, columns =  tag_list)
pred

           haze   primary  agriculture  ...  blooming  selective_logging  blow_down
0      0.002037  0.999922     0.002833  ...  0.006136           0.000529   0.000314
1      0.000715  0.999950     0.005416  ...  0.091476           0.007181   0.002106
2      0.001796  0.994473     0.025528  ...  0.000547           0.000182   0.000354
3      0.006248  0.999798     0.025696  ...  0.005454           0.001036   0.001387
4      0.007452  0.544485     0.034021  ...  0.001997           0.000929   0.000771
...         ...       ...          ...  ...       ...                ...        ...
61186  0.005558  0.042965     0.002798  ...  0.000297           0.000054   0.000086
61187  0.000427  0.999723     0.270662  ...  0.000353           0.000869   0.000037
61188  0.000356  0.999871     0.009682  ...  0.002014           0.000503   0.000178
61189  0.007990  0.014429     0.001027  ...  0.000130           0.000017   0.000033
61190  0.007494  0.766544     0.258287  ...  0.000020           0.000110   0.000036

[61191 rows x 17 columns]

In [27]:
#Write a loop to assign each value to its predicted label
preds = []
for i in tqdm(range(pred.shape[0]), miniters=1000):
    a = pred.iloc[[i]]
    a = a.apply(lambda x: x > 0.2, axis=1)
    a = a.transpose()
    a = a.loc[a[i] == True]
    ' '.join(list(a.index))
    preds.append(' '.join(list(a.index)))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 61191/61191 [02:43<00:00, 373.16it/s]

In [28]:
#Assign the predictions to the tags column of the df_test data frame
df_test['tags'] = preds 
df_test.to_csv('uthman_9th_Submission.csv', index = False) #Export to csv
df_test.head()

  image_name                          tags
0     test_0                 primary clear
1     test_1                 primary clear
2     test_2         primary partly_cloudy
3     test_3                 primary clear
4     test_4  primary cloudy partly_cloudy

In [29]:
#download submission file
from google.colab import files
files.download('uthman_9th_Submission.csv')